/* 미디어 쿼리 */
/* 
    작성법: @media [only|not] [미디어] and (조건) and (조건) { css } 
    @media - 무조건 적는 것
    only|not 
        - only or not, 해당하는 조건을 만족했을 때만 or 만족하지 않았을때만 css가 동작
        - 단, 모든 조건이 아니라 미디어만
        - 기본값 only
    미디어
        - 동작할 미디어를 선택
        - all : 모두
        - screen : 컴퓨터 화면, 모바일 등
        - print : 인쇄
        - tv
        - aural : 음성장치
        - braille : 점자
        - handheld : 패드
        - projection: 프로젝터
        - tty : 화면 제한장치
        - embossed : 점자 프린터
    (조건)
        - 특정 환경을 작성
        - width, height, min-width, max-width, min-height, max-height
        => 화면의 크기에 따라서 조건 변경
        - aspect-ratio : 화면의 비율에 따라서 조건 변경
*/

/* 특성 점수가 높아서 색깔이 안바뀜 */
/* html>body>div {
    background-color: red;
    width: 100px;
    height: 100px;
} */

/* div {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
} */

/* !important는 특성점수에 밀려서 변하지 않을때 아주 중요한 부분에만 사용하기 */
/* @media screen and (width <=500px) {
    div {
        background-color: limegreen !important;
    }
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-hand {
    display: none;
}

nav> :not(#menu-hand) {
    font-size: 25px;
    cursor: pointer;
    background-color: skyblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
}

nav>:not(#menu-hand):hover {
    background-color: rgb(104, 160, 183);
}

/* 모바일 - 필요한 부분 덮어쓰기 */
@media screen and (width <=768px) {
    nav:hover {
        transform: translateX(0);
    }

    nav {
        transition: all 0.4s linear;
        transform: translateX(-100%);
        position: fixed;
        width: 80vw;
        height: 100vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        box-shadow: -12px 0px 30px black;
        padding: 0;
        align-content: center;
    }

    nav> :not(#menu-hand) {
        font-size: 30px;
        cursor: pointer;
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: none;
        margin-bottom: 20px;
        text-align: center;
    }

    nav>:not(#menu-hand):hover {
        background-color: transparent;
        text-decoration: underline;
    }

    #menu-hand {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 60px;
        top: 50%;
        right: 0%;
        transform: translate(100%, -50%);
        background-image: linear-gradient(30deg,
                gray, lightgray,
                gray,
                lightgray,
                gray,
                lightgray,
                gray,
                lightgray,
                gray,
                lightgray,
                gray,
                lightgray,
                gray,
                lightgray,
                gray,
                lightgray);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}